.news {
    font-size: 15px;
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    border-radius: 4px;
    padding: 2px 6px;
    font-weight: 500;
}

.gateway {
    color: blueviolet;
    font-weight: 500;
    text-decoration: none;
}

.blog {
    color: gray;
    text-decoration: none;
}

.category {
    color: red;

}

.navbar {
    font-size: 15px;
}

.card-img-top {
    height: 240px;
}

.author-img {
    height: 65px;
    width: 65px;
}